<!-- clients/client_list.html -->
{% extends 'base.html' %}
{% block content %}
<h2>Meus Clientes</h2>
<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'client-create' %}" class="btn btn-success">
      Novo Cliente
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for client in object_list %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.first_name }} {{ client.last_name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>
                <a href="{%  url 'client-edit' client.id %}" class="btn btn-sm btn-primary" title="Editar">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'client-delete' client.id %}" class="btn btn-sm btn-danger" title="Excluir">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}