<!-- orders/order_list.html -->
{% extends 'base.html' %}
{% block content %}
{% load static %}
<h2>Minhas Ordens de Serviços</h2>
<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'order-create' %}" class="btn btn-success">
        <i class="fas fa-plus"></i> Nova Ordem
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Aparelho</th>
            <th>Defeito</th>
            <th>Serviço autorizado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for order in object_list %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.client }}</td>
            <td>{{ order.device }}</td>
            <td>{{ order.defect }}</td>
            <td>{{ order.service_autorized|yesno:"✔️,❌" }}</td>
            <td>
                <a href="{% url 'order-edit' order.id %}" class="btn btn-sm btn-primary" title="Editar">
                    <i class="fas fa-edit"></i>
                </a>
                 <a href="{% url 'order-delete' order.id %}" class="btn btn-sm btn-danger" title="Excluir">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a href="javascript:void(0);" class="link-acao btn btn-sm btn-outline-warning" title="Gerar PDF" onclick="openModal({{ order.id }})">
                    <i class="fas fa-file-pdf"></i> Gerar PDF
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="osTypeModal" tabindex="-1" aria-labelledby="osTypeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm"> <!-- modal-sm deixa pequeno e centralizado -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="osTypeModalLabel">Escolha o tipo da O.S.</h5>
        <button type="button" class="btn-close" onclick="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="osTypeForm">
          <input type="hidden" id="modalOrderId">
          <label>
            <input type="radio" name="tipo" value="entrada" checked> Entrada
          </label>
          <label>
            <input type="radio" name="tipo" value="saida"> Saída
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btnDownloadPDF" type="button" class="btn btn-success" onclick="baixarPDF()">Gerar PDF</button>
        <button type="button" class="btn btn-secondary" onclick="closeModal()" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


<script src="{% static 'scripts/generate_pdf.js' %}"></script>
